/** SCSS Front Page Containers

  - Front Page
---------------------------------------------- */

/* Front Page */
#front-page-inner-container {
  row {
    display: flex;
    align-items: center;
  }
}
.telephone {
  width: 100%;
  text-align: center;
}
#fp-request-quote.request-a-quote {
    button.ah-button {
      padding: 1em 2em;
      width: 100%;
      margin-top: .3em;
    }
  }

.header-info-wrap {
  width: 100%;
  nav {
    width: 100%;
  }
}

.list-with-us a {
  width: 100%;
}

